<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🧺</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
        <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous">
        </script>

        {% block stylesheets %}
        <link href="{{ asset('assets/css/home.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/post.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/post.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {{ include('./header_footer/header.html.twig') }}
        <main>
            <section class="main-container" >            
                        {% block body %}{% endblock %}
            </section>
        </main>
        <footer class="bg-dark text-center text-white">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:<a class="text-white" href="{{ path('app_home') }}">🧺LeBonCoinDuPauvre</a>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>

</html>