  <nav class="navbar-container" >
    <span class="nav-logo">
            <a class="navbar-brand" href="{{ path('app_home') }}">🧺 
            LeBonCoinDuPauvre</a>
    </span>   
    <ul class="navbar-list">
       
        <li class="navitem">
            <a class="navlink active" aria-current="page" href="{{ path('app_post_index') }}">Annonces</a>
        </li>
        <li class="navitem" style="display:{{ app.user ? "inline-flex" : 'none' }}" >
            <a class="navlink" href="{{ path('app_post_new') }}">Ajouter une annonce</a>
        </li>
        <li class="sub-items-container">
            {% if app.user %}
            <a href="#">{{ app.user ? app.user.firstname : '' }}</a>
                    <ul class="sub-menu">
                        <li><a class="btn-profil" href="{{ path('user_space', {'id': app.user.id}) }}">Espace Personnel</a></li>
                        <li><a class="btn-logout"  href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    </ul>
            {% else %}
            <a class="btn-login" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </li> 
        {% if app.user == null %}
        <li class="navitem">
            <a class="btn-signup" href="{{ path('app_register') }}">Inscription</a>
        </li>
        {% endif %}
    </ul>
</nav>