{% extends 'base.html.twig' %}
{% block title %}Liste des annonces{% endblock %}
{% block body %}


<div class="every-post-area">



    <h1>Liste des annonces</h1>
    {{ form(form_search)}}


    <div class="flash-info">
        {% for fail in app.flashes('failed') %}
            {{ fail }}
        {% endfor %}
        {% for bravo in app.flashes('success') %}
            {{ bravo }}
        {% endfor %}
    </div>
    {% for post in allDataToShow %}
        <div class="col-3 m-3 p-3">
            <div class="card">
                <a href="{{ path('app_post_show', {'id': post.id}) }}">
                    <div id="carouselControls" class="carousel-index" data-bs-ride="false" data-bs-interval="false">
                        <div class="carousel-inner">
                            {% for image in post.images %}
                            <div class="carousel-item active hauteur">
                                <img class="card-img-top" src={{image}} alt="Photo">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ post.name }}</h5>
                        <p class="card-text">{{ post.category }}</p>
                        <span class="align-self-end">{{ post.price }}€</span>
                    </div>
                </a>
            </div>
            <span class="date">Date de publication : {{ post.date ? post.date|date('d/m/Y') : '' }}</span>
        </div> 
    {% else %}
        <div class="row justify-content-around">
            {% for post in posts %}
                <div class="col-3 m-3 p-3">
                    <div class="card">
                        <a href="{{ path('app_post_show', {'id': post.id}) }}">
                            <div id="carouselControls" class="carousel-index" data-bs-ride="false" data-bs-interval="false">
                                <div class="carousel-inner">
                                    {% for image in post.images %}
                                    <div class="carousel-item active hauteur">
                                        <img class="card-img-top" src={{image}} alt="Photo">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ post.name }}</h5>
                                <p class="card-text">{{ post.category }}</p>
                                <span class="align-self-end">{{ post.price }}€</span>
                            </div>
                        </a>
                    </div>
                    <span class="date">Date de publication : {{ post.date ? post.date|date('d/m/Y') : '' }}</span>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
</div>

{% endblock %}
