{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}

    <link href="{{ asset('assets/css/post.css') }}" rel="stylesheet"/>

    <h1>Annonce</h1>

    <div class="row mb-3">

        <a href="{{ path('app_post_index') }}" class="retour">&#8592 Retour</a>
        
    </div>

    <div class="row">

        <div class="d-flex row m-1">
            <div class="col card">

                <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    {% for image in post.images %}

                        <div class="carousel-item taille">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="d-block" src={{image}} alt="Photo">
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                    
                    <a class="carousel-control-prev" href="#carouselControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            
            </div>

            <div class="col">

                <div class="col card mb-3 p-3 shadow">

                    <span class="name">{{ post.name }}</span>

                    <span>{{ post.price }} €</span>
                    
                    <span>Date de publication : {{ post.date ? post.date|date('d/m/Y') : '' }}</span>

                </div>

                <div class="col card mt-4 p-3 shadow">

                    <span class="description">Description</span>
                    
                    <span> {{ post.description }}</span>

                </div>
        
        
            </div>
    
        </div>
        
    </div>

    <div class="row justify-content-end mt-3 mb-5">

        <div class="col-auto">

            <a href="{{ path('app_post_edit', {'id': post.id}) }}"  class="btn btn-outline-primary">Modifier</a>

        </div>

        <div class="col-auto">

            {{ include('post/_delete_form.html.twig') }}

        </div>
        
    </div>

<script src="{{ asset('assets/js/post.js') }}"></script>
{% endblock %}

