{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}

    <h2>Annonce</h2>

    <div class="row">

        <div class="d-flex row m-1">
            <div class="col card">

                <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    {% for image in post.images %}

                        <div class="carousel-item taille">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="d-block" src={{image}} alt="Photo">
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                    
                    <a class="carousel-control-prev" href="#carouselControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            
            </div>

            <div class="col">

                <div class="col card mb-3 p-3 shadow">

                    <span class="name">{{ post.name }}</span>

                    <span>{{ post.price }} €</span>
                    
                    <span>Date de publication : {{ post.date ? post.date|date('d/m/Y') : '' }}</span>

                </div>

                <div class="col card mt-4 p-3 shadow">

                    <span class="description">Description</span>
                    
                    <span> {{ post.description }}</span>

                   

                </div>

                <div class="btns-power">

                      {% if userIsAuthor and post.userId.id  is same as(userIsAuthor.id)  %}
                            <div class="col-auto">
                                <a href="{{ path('app_post_edit', {'id': post.id}) }}"  class="btn btn-outline-primary">Modifier</a>
                            </div>
                            <div class="col-auto">
                                {{ include('post/_delete_form.html.twig') }}
                            </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div>
        <div class="row all-comments-espace">
            <div class="col-md-9 col card p-3 shadow"  id="comments-area">
                {% for question in post.questions %}
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">{{question.userId.firstname}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ question.date | date("d/m/Y")}}</h6>
                            <p class="card-text">{{question.questionText}}</p>
                            {# <p><a href="#ajout-commentaire" data-reply data-id="{{question.id}}" class="btn btn-secondary">Répondre</a></p> #}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3 col card p-3 shadow" id="ajout-commentaire">


            {{ form_start(form) }}
                {{ form_row(form.questionText) }}
                {% if userIsAuthor == null %}
                {{ form_row(form.submit, { 'disabled': 'true' }) }}
                {% else %}
                {{ form_row(form.submit) }}
                {% endif %}
            {{ form_end(form) }}
            </div>
           
      
        </div>
    </div>

<script src="{{ asset('assets/js/post.js') }}"></script>
{% endblock %}


